
// Color Variables

$navyBlue: #25274D;
$lightNavy: #464866;
$blueGrey: #AAABB8;
$cyanBlue: #2E9CCA;
$blueGreen: #29648A;
$darkGrey: #2a2a2a;

//Font Size Variables
$bannerHeading: 48px;
$titleFont: 48px;
$buttonsFont: 16px;
$bodyFont: 24px;